@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format(woff2); 
  font-display: swap;
  }
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format(woff2); 
  font-display: swap;
  }

body {
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   background-color: #FFFFFF;
   }
/*Самая главная шапка*/
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  }
.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 50px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.0);
}
.wish-button{
  background: #756157;
}
/*Картинка-текст*/
.hero{
  height: 485px;
  background-color:grey;
  background:url("../images/white.svg") no-repeat bottom,
  url("../images/background-img/index-background.jpg") no-repeat top;
  background-size: 100% auto;
  text-align: center;
}
/*Тексты общее*/
.hidden-title{
  clip-path: inset(100%);
}
.block-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.block-text{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
li {
    list-style-type: none;
    }
/*Преимущества*/
.advantages{
  text-align: center;
}
.advantages-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.white.advantages-item-text,
.grey.advantages-item-text{
  color: #333333;
}
.blue{
  color: #FFFFFF;
  background: #82B3D3;
}
/*Услуги*/
ul.services-list li{
  display: inline-block;
}
.services{
  text-align: center;
}
.services-item-title{
 font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.services-item-text{
  color: #333333;
}
.side{
  background: rgba(131, 179, 211, 0.12);
}

/*Поиск*/
.search{
   text-align: center;
   }
.search-button{
  background: #756157;
  font-size: 20px;
  line-height: 36px;
}
/*Подписка*/
.subscription{
  text-align: center;
  color:  #FFFFFF;
  background: lightblue url("../images/background-img/subscribe.jpg")  no-repeat ;
  background-size:100% auto;
  padding: 96px 258px 104px;
}
.subscription-white{
  text-align: center;
}
.subscription-text{
  color:  #FFFFFF;
}
.second-subscription-text{
  color: #333333;
}
.subscription-button{
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}
/*шапка каталога*/
.inner-header{
  background: lightblue url("../images/background-img/filter.jpg")  no-repeat ;
  background-size:100% auto;
  color: #FFFFFF;
}
.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-text{
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
 .catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
 }
 .choosing-input{
  line-height: 23px;
 }
 .catalog-submit{
  background: #82B3D3;
 }
 .catalog-reset{
  background: rgba(0, 0, 0, 0.0);
 }
/*Карточки гостиниц*/
 .select-control{
  color: #333333;
 }
 .hotel-card-link{
  text-decoration: none;
  color: #000000;
 }
 .hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
 }
 .hotel-card-type,
 .hotel-card-price{
  color: #333333;
 }
 .hotel-card-button-more,
 .hotel-card-button{
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
 }
 .hotel-card-button-more{
  background: #756157;
 }
 .hotel-card-button{
  background: #82B3D3;
 }
 .popularity-rating{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 8px 50px;
  background: #F2F2F2;
  border-radius: 4px;
 }
 ul.pagination li{
  display: inline-block;
 }
 .page-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  padding: 8px 8px;
  margin-right: 8px;
  border-radius: 4px;
 }
 .pagination-link{
  text-decoration: none;
}
/*Подвал*/
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/*Поиск форма*/
.search-form-label{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.warning-red{
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}
.places{
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.side-information{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.search-form-button{
  font-size: 20px;
  line-height: 24px;
  background: #83B3D3;
  border-radius: 10px;
}  