@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2); 
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2); 
  font-display: swap;
}

html {
  height: 100%;
}

body {
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   background-color: #FFFFFF;
   margin: 0;
   min-height: 100%;
}

.body-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}


/*Самая главная шапка*/
.main-header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin: 0 70px;
  padding-left: 152px;
  padding-bottom: 0;
  position: relative;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
}

ul.navigation-list {
  padding-left: 16px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}
.navigation-link-current::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 0px;
  border: 2px solid #756257;
}

.secondary-navigation-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.secondary-navigation-link {
  text-decoration: none;
  display: block;
  min-width: 21px;
  min-height: 20px;
  padding: 22px 12px;
}

.secondary-navigation .secondary-navigation-item:nth-child(1) .secondary-navigation-link {
  background: url("../images/icons/search.svg") no-repeat center;
}

.secondary-navigation .secondary-navigation-item:nth-child(2) .secondary-navigation-link {
  position: relative;
  background: url("../images/icons/heart.svg") no-repeat center; 
}

.secondary-navigation .secondary-navigation-item:nth-child(2) .secondary-navigation-link::after {
  content: "12";
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 11px;
  background: #7DB54F;
  border-radius: 10px;
  padding: 5px 4px;
  box-sizing: border-box;
 } 

.button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #FFFFFF;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
}

.wish-button {
  background: #756157;
  padding: 8px 34px;
  margin-bottom: 14px;
  margin-top: 14px;
  margin-left: 20px;
  box-sizing: border-box;
}

/*Картинка-текст*/
.hero {
  height: 485px;
  background-color:grey;
  background: url("../images/white.svg") no-repeat bottom,
  url("../images/background-img/index-background.jpg") no-repeat top;
  background-size: 100% auto;
  text-align: center;
}

.inscription-logo {
  padding-top: 51px;
}

/*Тексты общее*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.block-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.block-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*Преимущества*/
.advantages {
  text-align: center;
}

.advantages-title-div{
  margin-top: 79px;
  margin-bottom: 79px;
}

.advantages-text {
  margin-bottom: 0;
  margin-top: 25px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 62px;
  color: #000000;
  margin: 0;
  margin-bottom: 62pxs;
}

.advantages-item-text {
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

li.advantages-item.white,
li.advantages-item.grey {
  padding: 113px 85px;
  color: #333333;
  margin: 0;
  width: 230px;
}

.grey {
  position: relative;
  background: rgba(131, 179, 211, 0.2);
}

.white {
  position: relative;
  background: rgba(131, 179, 211, 0.12);
}

li.advantages-item.blue {
  display: flex;
  color: #FFFFFF;
  background: #82B3D3;
  margin: 0;
  width: 100%;
}

div.advantages-blue-1 {
  position: relative;
  margin: 0;
  width: 230px;
  padding: 102px 85px;
}

div.advantages-blue-2 {
  position: relative;
  width: 230px;
  padding: 102px 85px;
  margin: 0;
}

.advantages-blue-1 h3,
.advantages-blue-2 h3{
  color: #FFFFFF;
}

.advantages-blue-1::before,
.advantages-blue-2::before {
  position: absolute;
  content: "";
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  left: 170px;
  right: 170px;
  top: 188px;
  bottom: 195px;
}

.advantages-item.grey::before,
.advantages-item.white::before {
  position: absolute;
  content: "";
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  left: 170px;
  right: 170px;
  top: 199px;
  bottom: 185px;
}

/*Услуги*/
.services-title-div{
  margin-top: 64px;
  margin-bottom: 64px;
}

.services-text {
  margin-bottom: 0;
  margin-top: 20px;
}

.services-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.services {
  text-align: center;
}

.services-item {
  padding: 81px 85px;
  width: 230px;
  height: 223px;
}

.services-item-title {
 font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 102px;
  margin-bottom: 30px;
}

.services-item-text {
  color: #333333;
}

.home {
  background: url("../images/services/home-services.svg") no-repeat 50% 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.souvenirs {
  background: url("../images/services/souvenir-services.svg") no-repeat 50% 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  background: url("../images/services/food-services.svg") no-repeat 50% 81px;
}

/*Поиск*/
.search {
   text-align: center;
   margin-top: 96px;
   margin-bottom: 96px;
}

.search-text {
  margin-bottom: 0;
  margin-top: 20px;
}

.search-button {
  background: #756157;
  font-size: 20px;
  line-height: 36px;
  margin-top: 51px;
}

/*Подписка*/
.subscription {
  text-align: center;
  color:  #FFFFFF;
  background: lightblue url("../images/background-img/subscribe.jpg")  no-repeat ;
  background-size:100% auto;
  padding: 96px 258px 104px;
}

.subscription-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

}

.subscription-white {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscription-text {
  color:  #FFFFFF;
  margin-bottom: 0;
  margin-top: 20px;
}

.second-subscription-text {
  color: #333333;
}

.subscription-form {
  display: flex;
  text-align: center;
  margin-top: 54px;
}

.subscription-field {
  background: #F2F2F2;
  width: 432px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  padding-left: 20px;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
}

/*шапка каталога*/
.inner-header {
  background: lightblue url("../images/background-img/filter.jpg")  no-repeat ;
  background-size:100% auto;
  color: #FFFFFF;
}

.inner-header-div {
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 35px;
  padding-bottom: 65px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 9px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-link {
  display: inline-block;
  box-sizing: border-box;
  height: 21px;
  width: 13px;
  padding: 0px 0px 2px;
  background: url("../images/icons/home-white.svg") no-repeat left;
}

.arrow{
  display: inline-block;
  box-sizing: border-box;
  height: 21px;
  width: 8px;
  padding: 0px 0px 2px;
  margin-left: 10px;
  margin-right: 10px;
  background: url("../images/icons/breadcrumbs.svg") no-repeat right;
 } 

.breadcrumbs-text {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.hotel-catalog {
  margin-top: 40px;
}

.catalog-filter-group{
  border: none;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter_form-div {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 23px;
  margin-top: 32px;
  margin-bottom: 0;
} 

.choosing-input {
  margin-bottom: 16px;
}

.choosing-input: nth-last-child{
  margin-bottom: 0;
}

.catalog-submit {
  background: #82B3D3;
  margin-top: 53px;
}

.catalog-reset {
  background: rgba(0, 0, 0, 0.0);
}

.catalog-button-div {
  display: flex;
  flex-direction: column;
}

.catalog-submit {
  margin-bottom: 32px;
}

/*Карточки гостиниц*/
.main-catalog {
  margin-right: 70px;
  margin-left: 70px;
}

.card-filter { 
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1060px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.main-catalog-titlee {
  padding: 8px 0;
}

.select-control {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  appearance: none;
  background: url("../images/icons/arrow.svg") no-repeat 260px;
}

.select-control {
  color: #333333;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:disabled {
  opacity: 0.3;
  border: 2px solid rgba(0, 0, 0, 0.3);
}


.type-of-cards {
  display: flex;
  gap: 70px;
}

.view {
  gap:10px
}

.view .view-button:nth-child(1) {
  background: url("../images/icons/card.svg") no-repeat center;
}

.view .view-button:nth-child(2) {
  background: url("../images/icons/large-card.svg") no-repeat center;
}

.view .view-button:nth-child(3) {
  background: url("../images/icons/list.svg") no-repeat center;
}

.view-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 12px;
  height: 48px;
  width: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
} 

.hotel-card-div {
width: 1060px;
}

.hotel-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotel-list::before {
  position: absolute;
  content: "";
  bottom: -40px;
  width: 1060px;
  height: 0px;
  border: 1px solid #E6E6E6;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px;
  column-gap: 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1 / -1 ;
}

.hotel-card-image {
  width: 300px;
  height: 212px;
  background: #F2F2F2;
  object-fit: contain;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
}

.hotel-card-price {
  justify-self: end;
}

.hotel-card-type,
.hotel-card-price {
  color: #333333;
}

.hotel-card-button-more,
.hotel-card-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.hotel-card-button-more {
  background: #756157;
  padding: 8px 26px;
}

.hotel-card-button {
  background: #82B3D3;
  padding: 8px 20px;
}

.star {
   grid-column: 1 / 2;
}

.star-1 {
  background-image: 
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg");
  background-position: 
    left,  
    24px,
    48px,
    72px;
  background-repeat: 
    no-repeat,
    no-repeat,  
    no-repeat,
    no-repeat;
}

.star-2 {
  background-image: 
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg");
  background-position: 
    left,  
    24px,
    48px,
    72px;
  background-repeat: 
    no-repeat,
    no-repeat,  
    no-repeat,
    no-repeat;
}

.star-3 {
  background-image: 
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg");
  background-position: 
    left,  
    24px,
    48px;
  background-repeat: 
    no-repeat,
    no-repeat,  
    no-repeat;
}

.star-4 {
  background-image: 
    url("../images/icons/star.svg"),
    url("../images/icons/star.svg");
  background-position: 
    left,  
    24px;
  background-repeat: 
    no-repeat,
    no-repeat;
}

.popularity-rating {
  grid-column: 2 / -1;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 8px 22px;
  background: #F2F2F2;
  border-radius: 4px;
}

ul.pagination {
  display: flex;
  margin-top: 80px;
  margin-bottom: 60px;
  padding-left: 0;
  list-style-type: none;
}

.page-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  padding: 12px 8px;
  
  border-radius: 4px;
  height: 60px;
  width: 60px;
  display: inline-block;
  box-sizing: border-box;
}  

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.ellipsis {
  background: #FFFFFF;
  color: #000000;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-link {
  text-decoration: none;
}

/*Подвал*/
.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}  

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 45px;
  margin-bottom: 35px;
}

ul.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 45px;
  margin-bottom: 35px;
  padding: 0;
}

.htmlacademy-link {
  margin-top: 8px;
  align-self: center;
}

/*Состояния кнопок и ссылок*/

.button {
  cursor:pointer;
}

.button.brown:hover {
  background: #615048;;
}

.button.brown:focus {
  outline: none;
  background: #615048;;
}

.button.blueness:hover {
  background: #68A2CA;
}

.button.blueness:focus {
  outline: none;
  background: #68A2CA;
}

.hotel-card-button.favourites {
  background: #7DB54F;
  padding: 8px 18px;
}

.hotel-card-button.favourites:hover {
  background: #6C9E42;
 } 

.hotel-card-button.favourites:focus {
  outline: none;
  background: #6C9E42;
 } 

.button.clear:hover {
  opacity: 0.6;
}

.button.clear:focus {
  outline: none;
  border: 3px solid #83B3D3;
}  

.button.brown:active,
.button.blueness:active,
.hotel-card-button.favourites:active,
.button.clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button.blueness:disabled,
.catalog-submit.blueness:disabled,
.wish-button.brown:disabled,
.search-button.brown:disabled  {
  background: #E5E5E5;
}

.button.clear:disabled {
  opacity: 0.1;
}

.view-button.button {
  border: 2px solid #E5E5E5;
}

.view-button.button:hover {
  border: 2px solid #000000;
}

.view-button.button:focus {
  border: 2px solid  #68A2CA;
}

.view-button.button:active {
  border: 2px solid #000000;
}

.breadcrumbs-text {
  cursor:pointer;
}

.breadcrumbs-text:hover {
  opacity: 0.6;
}

.breadcrumbs-text:active {
  opacity: 0.3;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: #756157;
  opacity: 0.3;
}

.htmlacademy {
  fill: #000000;
}

.htmlacademy:hover {
  fill: #756157;
}

.htmlacademy:focus {
  fill: #756157;
}

.htmlacademy:active {
  fill: #756157;
  opacity: 0.3;
}

.yt,
.tg,
.vk {
  fill: #83B3D3;
}

.yt:hover,
.tg:hover,
.vk:hover {
  fill: #68A2CA;
}

.yt:focus,
.tg:focus,
.vk:focus {
  fill: #68A2CA;
}

.yt:active,
.tg:active,
.vk:active {
  fill: rgba(104, 162, 202, 0.3);
}

/*Поиск форма*/
.modal-window {
  width: 717px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.search-form-title-div {
  display: flex;
  justify-content: space-between; 
  margin: 64px 70px;
  margin-bottom: 0;
}

.close-button {
  background: #F2F2F2 url("../images/icons/cross.svg") no-repeat center;
  border-radius: 50%;
  border: none;
  width: 52px;
  height: 52px;
}

.close-button:hover {
  background: #E6E6E6 url("../images/icons/cross.svg") no-repeat center;

}

.close-button:focus {
  border: 3px solid #83B3D3;
}

.close-button:active {
  background: #E6E6E6 url("../images/icons/cross-opacity.svg") no-repeat center;
}

.search-form-div {
  width: 577px;
  margin: 64px 70px;
  margin-top: 48px;
}

.first,
.second {
  display: flex;
  justify-content: space-between;
}

.search-form-group {
  padding: 0;
  border: none;
}

.search-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.warning-red {
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.places {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.input-div {
  width: 440px;
  margin: 0;
}

.input {
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.input-1,
.input-2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 440px;
  height: 48px;
  background: #F2F2F2 url("../images/icons/date.svg") no-repeat 400px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.input-1:placeholder,
.input-2:placeholder {
  opacity: 0.6;
}

.input-1:hover,
.input-2:hover {
  background: #E6E6E6 url("../images/icons/date.svg") no-repeat 400px;
} 

.input-1:focus,
.input-2:focus {
  outline: none;
  border: 3px solid #83B3D3;
} 

.third {
  display: flex;
  justify-content: space-between;
}

.adults-div {
  width: 247px;
}

.input-3 {
  width: 31px;
  height: 48px;
  text-align: center;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.children-div {
  width: 242px;
}

.adults-div,
.children-div {
  display: flex;
  justify-content: space-between;
}  

.plus-minus-div {
  display: flex;
  width: 110px;
}

.plus-minus-button {
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
} 

.minus {
  background: #F2F2F2 url("../images/icons/minus-opacity.svg") no-repeat center;
  border-radius: 4px 0 0 4px;
}

.plus {
  background: #F2F2F2 url("../images/icons/plus-opacity.svg") no-repeat center;
  border-radius: 0 4px 4px 0;
}

.plus:hover {
  background: #F2F2F2 url("../images/icons/plus.svg") no-repeat center;
}

.plus-minus-button.plus:focus {
  background: #F2F2F2 url("../images/icons/plus.svg") no-repeat center;
  border: 3px solid #83B3D3;
}

.plus:active {
  background: #F2F2F2 url("../images/icons/plus-opacity.svg") no-repeat center;
}

.minus:hover {
  background: #F2F2F2 url("../images/icons/minus.svg") no-repeat center;
}

.plus-minus-button.minus:focus {
  background: #F2F2F2 url("../images/icons/minus.svg") no-repeat center;
  border: 3px solid #83B3D3;
}

.minus:active {
  background: #F2F2F2 url("../images/icons/minus-opacity.svg") no-repeat center;
}

.information-button {
  width: 26px;
  height: 26px;
  background:#83B3D3 url("../images/icons/info-white.svg") no-repeat center;
  border-radius: 50%;
  border: none;
  vertical-align: text-bottom;
}

.side-information {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.search-form-button {
  font-size: 20px;
  line-height: 24px;
  background: #83B3D3;
  border-radius: 10px;
  width: 577px;
  height: 60px;
}  